<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="HomeworkApplication"/>
    <namespace name="Providers" />
    <container name ="HardCoded">
      <register type="ICoinValuesProvider" mapTo="HardCodedCoinProvider" />
      <register type="IDrinksProvider" mapTo="HardCodedDrinksProvider" />
    </container>
    <container name ="Xml">
      <register type="ICoinValuesProvider" mapTo="XmlCoinProvider" />
      <register type="IDrinksProvider" mapTo="XmlDrinksProvider" />
    </container>
  </unity>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>